@import 'tailwindcss';

@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Young Serif';
  src: url('./fonts/YoungSerif.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@theme {
  --color-card-rose-800: hsl(332, 51%, 32%);
  --color-card-rose-50: hsl(330, 100%, 98%);
  --color-card-stone-900: hsl(24, 5%, 18%);
  --color-card-stone-600: hsl(30, 10%, 34%);
  --color-card-stone-150: hsl(30, 18%, 87%);
  --color-card-stone-100: hsl(30, 54%, 90%);
  --color-card-brown-800: hsl(14, 45%, 36%);
  --font-sans: 'Outfit', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Young Serif', ui-sans-serif, system-ui, sans-serif;
  --spacing-card-100: 0.5rem;
  --spacing-card-150: 0.75rem;
  --spacing-card-200: 1rem;
  --spacing-card-300: 1.5rem;
  --spacing-card-400: 2rem;
  --spacing-card-500: 2.5rem;
  --spacing-card-600: 3rem;
  --spacing-card-1600: 8rem;
}

@layer base {
  body {
    background-color: white;
  }
  @media (min-width: 768px) {
    body {
      background-color: var(--color-card-stone-100);
    }
  }
}

@utility text-preset-1 {
  font-family: var(--font-serif);
  font-weight: 400;
  font-size: 2.25rem;
  line-height: normal;
  letter-spacing: normal;
  @variant md {
    font-size: 2.5rem;
  }
}

@utility text-preset-2 {
  font-family: var(--font-serif);
  font-weight: 400;
  font-size: 1.75rem;
  line-height: normal;
  letter-spacing: normal;
}

@utility text-preset-3 {
  font-family: var(--font-sans);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: normal;
  letter-spacing: normal;
}

@utility text-preset-4-regular {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: normal;
}

@utility text-preset-4-bold {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: normal;
}
